/* Base styles for video container */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  
}

/* Styles for text container within video container */
.text-container {
  max-width: 500px;
  margin-left: 10px;
}

.text-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Styles for video player within video container */
.video-player {
  width: 100%; /* Full width by default */
}

.youtube-video {
  width: 100%; /* Make video responsive */
}

/* Media Query for Small Screens (max-width: 767px) */
@media (max-width: 767px) {
  .youtube-video,
  .video-player {
    width: 100%; /* Full width on small screens */
    max-width: 100%; /* Maximum width for responsiveness */
    height: 200px; /* Adjust height for small screens */
    margin-bottom: 120px;
  }
}

/* Media Query for Large Screens (min-width: 768px) */
@media (min-width: 768px) {
  .video-container {
    flex-direction: row; /* Align items in a row for large screens */
    justify-content: space-between; /* Space items evenly along the main axis */
    text-align: center; /* Align text to the left */
  }

  .text-container {
    width: 50%; /* Take up 50% width on large screens */
    padding-right: 20px; /* Add spacing between text and video */
  }

  .youtube-video,
  .video-player {
    width: 100%; /* Full width on large screens */
    max-width: 100%; /* Maximum width for responsiveness */
    height: 400px; /* Adjust height for large screens */
  }
}
